<!-- src/app/pages/home/home.component.html -->
<div class="welcome-container">
  <mat-card class="!px-0">
    <mat-card-header class="!pe-0">
      <mat-card-title class="!text-lg md:!text-2xl !px-2">
        <mat-icon>rocket_launch</mat-icon>
        مرحباً بك في تطبيق Odoo
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="!px-2">
      <p>هذا التطبيق يتيح لك إدارة مشاريعك باستخدام Odoo API</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/login">
        <mat-icon>play_arrow</mat-icon>
        ابدأ الآن
      </button>
    </mat-card-actions>
  </mat-card>
</div>
