<h2 mat-dialog-title>{{ data.id ? "تعديل مشروع" : "إضافة مشروع" }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 space-y-4">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>اسم المشروع</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>الوصف</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button mat-button type="button" (click)="dialogRef.close()">إلغاء</button>
    <button mat-flat-button color="primary" type="submit">حفظ</button>
  </div>
</form>
